<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162182071424-qlgbpk068j46gf2t7af18rttd1a47eaq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162182071424-qlgbpk068j46gf2t7af18rttd1a47eaq</string>
	<key>API_KEY</key>
	<string>AIzaSyCXhkVUa5ySZl_WBuzQb-Dak-dbaHlh9Ow</string>
	<key>GCM_SENDER_ID</key>
	<string>162182071424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.learnukranian.fritzgt.Learn-Ukranian</string>
	<key>PROJECT_ID</key>
	<string>learn-ukranian</string>
	<key>STORAGE_BUCKET</key>
	<string>learn-ukranian.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162182071424:ios:f4b593d475ae588dcd5265</string>
	<key>DATABASE_URL</key>
	<string>https://learn-ukranian.firebaseio.com</string>
</dict>
</plist>